<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render('api/users/user.json.jbuilder', user: current_user).html_safe %>
  </script>
  <% else %>
  <img class="splash-background-image" src="file:///Users/mayarosmarin/Desktop/spotify-background.png" />
<% end %>

<div id="root"></div>
