<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render('api/users/user.json.jbuilder', user: current_user).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
  window.staticImages = {
    splash_page_background: "<%= image_url("splash-page-background.jpg") %>"
  }
</script>

<div id="root"></div>
