<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render('api/users/user.json.jbuilder', user: current_user).html_safe %>
  </script>
  <% else %>
  <img class="splash-background-image" src="https://ak4.picdn.net/shutterstock/videos/25788914/thumb/10.jpg?i10c=img.resize(height:160)" />
<% end %>

<div id="root"></div>
