.audio-player {
  background-color: #282828;
  height: 100px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

center {
  position: fixed;
}

.currently-playing {
  color: #afafaf;
  margin-right: 600px;
}

.audio-player-play-pause {
  border-radius: 50%;
  border: 1px solid hsla(0,0%,100%,.6);
  padding: 10px;
  color: #afafaf;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  margin-top: 2px;
}

.audio-player-play {
  border-radius: 50%;
  border: 1px solid #646568;
  padding: 10px;
  color: #646568;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  margin-top: 2px;
  cursor: auto;
}

.audio-player-play-pause:hover {
  color: white;
  padding: 11px;
  border: 1px solid white;
}

.audio-player-skip {
  padding: 7px;
  color: #afafaf;
  font-size: 16px;
}

.skip {
  margin-right: -10px;
  font-size: 20px;
  height: 80%;
}

.skip-back {
  margin-left: -10px;
  font-size: 20px;
  height: 80%;
}

.audio-player-skip:hover {
  color: white;
}

.slidecontainer {
    width: 150px;
    position: fixed;
    margin-left: 600px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 16px;
    border: 0;
    background: #707275;
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background: #afafaf;
    cursor: pointer;
}

.padding {
  color: #282828;
}

.play-button {
  cursor: auto;
}

.disabled-skip-forward {
  padding: 7px;
  color: #646568;
  font-size: 16px;
  cursor: auto;
}

.disabled-skip-backward {
  padding: 7px;
  color: #646568;
  font-size: 16px;
  cursor: auto;
}

.disabled-skip-backward:hover {
  padding: 7px;
  color: #646568;
  font-size: 16px;
  cursor: auto;
}

.disabled-skip-forward:hover {
  padding: 7px;
  color: #646568;
  font-size: 16px;
  cursor: auto;
}
