.main-container {
  display: flex;
  flex-direction: row;
  // background: #525952;
  // background: linear-gradient(to bottom right, #3f4c3f, #3b3d3b);
  background-color: #5f6d5f;
}

.home-page {
  display: flex;
  flex-direction: column;
}

.main-page {
  color: #c4c4c4;
  font-size: 36px;
  font-weight: 800;
  padding-left: 10px;
  z-index: 1;
  margin-top: 30px;
  margin-bottom: -30px;
}

tiles {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.tile {
  height: 250px;
  width: auto;
  margin: 30px;
  box-shadow: 5px 5px 5px #333833;
  -webkit-filter: brightness(100%);
}

.tile:hover {
  -webkit-filter: brightness(70%);
}

.rec-text {
  color: #c4c4c4;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

.show-image {
  box-shadow: 5px 5px 5px #333833;
}
