.main-container {
  display: flex;
  flex-direction: row;
  // background: #404042;
  background: linear-gradient(to bottom right, #585a5e, #34363a);
//   height: 100%;
//   // width: calc(100vw - 201px);
//   width: 100%;
}
// /
