.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playlist-input {
  background-color: #36393d;
  border: none;
  width: 100vw;
  height: 150px;
  font-size: 48px;
  color: #a1a4a8;
  cursor: text;
  display: inline-block;
  outline: none;
  padding: 0 15px;
  top: auto;
  font-weight: 900;
  caret-color: #1db954;
}

input[type="text"].playlist-input::-webkit-input-placeholder {
  font-size: 48px;
}

#create-playlist-button {
  width: 200px;
  margin-left: calc(50% - 100px);
  margin-top: 25px;
}
