.my-podcast-index-item {
  display: flex;
  flex-direction: row;
}

.trashcan {
  visibility: hidden;
  cursor: pointer;
  margin-left: 5px;
}

.my-podcast-index-item:hover .trashcan {
  visibility: visible;
}

#narrow-button {
  width: 200px;
  margin-left: 40px;
}
