.nav-bar {
  background-color: #1b1c1e;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // padding: 3vw;
  border: 0;
  // vertical-align: top;
  height: 100vh;
  max-width: 10vw;
  min-width: 10vw;
  text-align: justify;
  list-style: none;
  padding-top: 0;
  padding-right: 30px;
  margin: 0;
  font-size: 17px;
  font-weight: 800;
}

.logout-button {
  background-color: #1b1c1e;
  color: #767676;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-bottom: 1px #767676 solid;
  margin-bottom: 10px;
  padding-bottom: 8px;
  outline: 0;
}

.logout-button:hover {
  color: #dddddd;
  border: 0;
  border-bottom: 1px #767676 solid;
}

.logout-button:active {
  color: #1db954;
}

.nav-bottom {
  list-style: none;
}

.username {
  color: #767676;
}
