.nav-bar {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 0;
  min-width: 200px;
  max-width: 200px;
  text-align: justify;
  list-style: none;
  padding-top: 0;
  margin: 0;
  font-size: 17px;
  font-weight: 900;
  height: 100vh;
  align-items: left;
  box-sizing: border-box;
  padding-left: 20px;
  opacity: 40%;
}

.logout-button {
  background-color: black;
  color: #afafaf;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-bottom: 1px #767676 solid;
  margin-bottom: 10px;
  padding-bottom: 8px;
  outline: 0;
}

.logout-button:hover {
  color: #dddddd;
  border: 0;
  border-bottom: 1px #767676 solid;
}

.logout-button:active {
  color: #1db954;
}

.nav-bottom {
  list-style: none;
  margin-bottom: 100px;
}

.username {
  color: #afafaf;
}

.vol-icon {
  font-size: 42px;
  color: #afafaf;
}

.vol-icon:hover {
  color: #afafaf;
}

.nav-icon {
  font-size: 20px;
}

.top-two-nav {
  padding-bottom: 150px;
  margin-bottom: 150px;
}
