.show-page-title {
  color: #c4c4c4;
  font-size: 56px;
  font-weight: 800;
  padding-left: 10px;
  // padding-bottom: 10px;
  z-index: 1;
  margin-top: 30px;
  margin-bottom: -30px;
}

.episode-index {
  color: #adb0b5;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 50px;
  line-height: 2;
  align-items: flex-start;
}

.podcast-episode-index {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}

.podcast-show-art {
  width: 350px;
}

.episode-summary {
  opacity: 0.0;
   -webkit-transition: all 500ms ease-in-out;
}

.music-note {
  padding-right: 15px;
  cursor: pointer;
}

.episode-index-item {
  display: flex;
  flex-direction: row;
  padding-right: 15px;
  width: 100%;
}

.episode-index-item:hover {
  background-color: #3d423f;
}

.summary-hover {
  visibility: hidden;
  width: 30%;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 15px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  font-size: 12px;
  opacity: 0.7;
  margin-top: 5px;
  margin-left: 30px;
}

.episode-index-item:hover .summary-hover {
  visibility: visible;
}

.successful-download {
  color: #c4c4c4;
  margin-top: 15px;
  margin-left: 15px;
  background-color: #3d423f;
  border-radius: 5px;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

.ep {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

#ep-title {
  font-size: 18px;
  color: #e5e5e5;
}
