.show-page-title {
  color: #767676;
  font-size: 56px;
  font-weight: 800;
  padding-left: 10px;
}

.episode-index-item {
  color: white;
  text-decoration: none;
}

.podcast-episode-index {
  text-decoration: none;
}
