body {
  margin: 0;
  padding: 0;
}

.search-input {
  background-color: #36393d;
  border: none;
  // width: calc(100vw - 30px);
  width: 83.75vw;
  height: 150px;
  font-size: 48px;
  color: #a1a4a8;
  cursor: text;
  display: inline-block;
  outline: none;
  padding: 0 15px;
}

.search-link {
  text-decoration: none;
  font-weight: 700;
  color: #767676;
  width: auto;
}

.search-link:hover {
  color: #dddddd;
}

.search-container {
  height: 100vh;
  width: 86vw;
  background-color: #1d2023;
}

.search-input {
  top: auto;
}

input[type="text"].search-input::-webkit-input-placeholder {
  font-size: 48px;
}

.search-page {
  display: flex;
}
