body {
  margin: 0;
  padding: 0;
}

.search-input {
  background-color: #36393d;
  border: none;
  // width: 100%;
  width: calc(100vw - 200px);
  height: 150px;
  font-size: 48px;
  color: #a1a4a8;
  cursor: text;
  display: inline-block;
  outline: none;
  padding: 0 15px;
}

.search-link {
  text-decoration: none;
  font-weight: 700;
  color: #767676;
  width: auto;
}

.search-link:hover {
  color: #dddddd;
}

.search-link:active {
  color: #1db954;
}

.search-container {
  height: 100vh;
  width: calc(100vw - 200px);
  background-color: #1d2023;
  overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.search-input {
  top: auto;
}

input[type="text"].search-input::-webkit-input-placeholder {
  font-size: 48px;
}

.search-page {
  background-color: #1d2023;
  display: flex;
  // width: calc(100vw - 200px);
  // width: 100%
}

.podcast-artwork {
  width: 100px;
  height: 100px;
  padding-right: 10px;
}

.index-item {
  font-size: 24px;
  list-style: none;
  color: #767676;
  text-decoration: none;
  display: flex;
  padding-top: 5px;
  padding-left: 5px;
  box-sizing: border-box;
}
