body {
  font-family: Muli;
}

.green-button {
  background-color: #1db954;
  border-radius: 500px;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  padding: 16px 48px 18px;
  margin-bottom: 14px;
  transition-property: background-color,border-color,color,box-shadow,filter,-webkit-box-shadow,-webkit-filter;
  letter-spacing: 2px;
  width: 425px;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  font-family: Muli, Helvetica,Arial,sans-serif;
  display: inline-block;
  // margin: 20px auto;
}

.splash-button {
  width: 40%;
  text-decoration: none;
  font-size: 18px;
}

.white-splash-button {
  text-decoration: none;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 18px;
  width: 40%;
}

.green-button:hover {
  background-color: #1ed760;
}

.white-splash-button:hover {
  background-color: white;
}

.session-form {
  font-family: Muli;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.linkText {
  color: #1db954;
  text-decoration: none;
  font-size: .9375em;
}

.linkText:hover {
  color: #1ed760;
}

.user-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-field {
  height: 40px;
}

::placeholder {
  padding-left: 10px;
  font-size: 14px;
  font-weight: 550;
}

#sign-up-header {
  font-weight: 1000;
}

.logo-header {
  font-weight: 700;
  color: #4D4B4B;
  text-align: center;
}

img.splash-background-image {
  min-height: 100%;
  min-width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#already {
  color: #767676;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
}

.splash-sign-in-div {
  width: 42.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-right: 1px solid #767676;
  padding-top: 200px;
  padding-bottom: 200px;
}

.splash-background {
  background-image: image-url('splash-page-background.jpg');
  bottom: 0;
  content: "";
  display: flex;
  flex-direction: row;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sign-up-logo-header {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.splash-page-right-teaser {
  text-align: left;
  padding-left: 50px;
  padding-top: 150px;
}

.green-splash-text {
  color: #1db954;
  font-size: 54px;
  font-weight: 700;
}

.white-big-splash-text {
  color: #fff;
  font-size: 24px;
}

.white-little-splash-text {
  color: #fff;
  font-weight: 700;
}

.check {
  color: #1db954;
}

.logout-dropdown {
  position: absolute;
  border-radius: 15px;
  z-index: -1;
  cursor: pointer;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 100px;
  background-color: black;
  color: white;
  border-color: white;
  font-size: 14px;
  font-weight: 250;
  height: 30px;
  display: none;
  margin-top: 8px;
  margin-left: 75px;
}

.logout-dropdown:hover {
  font-size: 15px;
  background-color: black;
  padding: 2px 2px 2px 2px;
  height: 31px;
  width: 110px;;
}

.username-dropdown {
  background-color: #272a30;
  color: #6d6e70;
  border-radius: 15px;
  display: inline-block;
  padding-right: 30px;
  width: 100px;
  height: 30px;
}

.username-dropdown:hover .logout-dropdown {
  display: block;
  z-index: 1;
}
