@font-face {
  font-family: 'circular-book';
  src:font-url('circular-book.eot');
  src:font-url('circular-book.eot?iefix') format('eot'),
       font-url('circular-book.woff') format('woff'),
       font-url('circular-book.ttf') format('truetype'),
       font-url('circular-book.svg#webfont') format('svg');
       font-weight: normal;
       font-style: normal;
}
